## Python Data Structures and Booleans
- Boolean
- Boolean and Logical Operator
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

### Boolean Varibles
Boolean values are the two constant objects False and True

They are used to represent truth values(other values can also be considered false or true)

In numeric contexts(for example, when used as the argument to an arithmetic operator),the behave like the integer 0 and 1 respectively

In [2]:
print(True,False)

True False

In [3]:
type(True)

bool

In [4]:
bool()

False

In [5]:
bool(1)

True

In [6]:
my_str="Tushar Khutale"

In [7]:
print(my_str.isalnum()) #check if all char are numbers
print(my_str.isalpha()) #check if all char in the string are alphanumeric
print(my_str.isdigit()) #check if string contains digits
print(my_str.istitle()) #check if string contains title words
print(my_str.isupper()) #test if string contains upper case
print(my_str.islower()) #test if string contains lower case
print(my_str.isspace()) #test if string contains spaces
print(my_str.endswith('d')) #test if string ends with a d
print(my_str.startswith('H')) #test if string starts with H

False
False
False
True
False
False
False
False
False

In [9]:
my_str.isalpha() or my_str.isdigit()

False

### Lists
A list is a data structure in Python that is mutable, or changeable, ordered sequence of elements. Each element or value that 
is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having value
between square brackets[]

In [11]:
lst_example=[]

In [12]:
type(lst_example)

list

In [13]:
lst=list()

In [14]:
type(list)

type

In [16]:
lst = ["Mathematics",'chemistry', 100, 200, 300, 204]

In [17]:
type(lst)

list

In [18]:
len(lst)

6

In [15]:
type([])

list

### Append

In [19]:
# append
lst.append('Tushar')

In [20]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204, 'Tushar']

### Insert

In [21]:
# insert in a specific order
lst.insert(1,"Khutale")

In [22]:
lst

['Mathematics', 'Khutale', 'chemistry', 100, 200, 300, 204, 'Tushar']

In [23]:
lst[:]

['Mathematics', 'Khutale', 'chemistry', 100, 200, 300, 204, 'Tushar']

In [24]:
lst[2:]

['chemistry', 100, 200, 300, 204, 'Tushar']

In [25]:
lst[1:5]

['Khutale', 'chemistry', 100, 200]

In [26]:
# nested list
lst.append(["Hi","Hello"])

In [27]:
lst

['Mathematics',
 'Khutale',
 'chemistry',
 100,
 200,
 300,
 204,
 'Tushar',
 ['Hi', 'Hello']]

### Extend method

In [28]:
lst.extend([8,9,10])

In [29]:
lst

['Mathematics',
 'Khutale',
 'chemistry',
 100,
 200,
 300,
 204,
 'Tushar',
 ['Hi', 'Hello'],
 8,
 9,
 10]

### Various operations that we can perform in List

In [47]:
lst=[1,2,3,4,5]

In [32]:
sum(lst)

15

In [48]:
lst

[1, 2, 3, 4, 5]

In [50]:
# multiplication is the how manu times(repeating) values in the list
lst*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### Pop() Method

In [33]:
lst.pop()

5

In [34]:
lst

[1, 2, 3, 4]

In [35]:
lst.pop(0)

1

In [36]:
lst

[2, 3, 4]

### count() : Calculates total occurence of given element of List

In [38]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [40]:
# length: Calculate total number of list
len(lst)

6

In [42]:
# index() : Returns the index of first occurence. Start an end index are not neccesary parameters
lst.index(2,0,4)

2

In [43]:
# Min and Max
min(lst)

1

In [44]:
max(lst)

5

In [45]:
lst

[1, 1, 2, 3, 4, 5]