## SETS
A set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notation of set. This is based on data structure known as hash table

In [1]:
## Defining an empty set
set_var=set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [7]:
set_var={1,2,3,4,3}

In [8]:
type(set_var)

set

In [9]:
set_var

{1, 2, 3, 4}

In [10]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'Hitman', 'IronMan', 'Avengers'}

set

In [12]:
# Indexing
set_var[0]

TypeError: 'set' object is not subscriptable

In [13]:
set_var['Avengers']

TypeError: 'set' object is not subscriptable

In [14]:
# Inbuilt function set
set_var.add("Hulk")

In [15]:
print(set_var)

{'Hitman', 'IronMan', 'Hulk', 'Avengers'}

In [23]:
set1={"Avengers","IronMan","Hitman"}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [26]:
# intersection
set2.intersection_update(set1)

In [27]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [28]:
# Difference
set2.difference(set1)

set()

In [18]:
set1.difference(set2)

set()

In [19]:
set1

{'Avengers', 'Hitman', 'IronMan'}

In [20]:
set2

{'Avengers', 'Hitman', 'Hulk2', 'IronMan'}

In [21]:
# Difference update
set2.difference_update(set1)

In [22]:
print(set2)

{'Hulk2'}

## Dictionaries
A Dictionary is a collection which is unordered, changeable and indexed. In python dictionaries are written in curly brackets, and they have keys and values

In [29]:
dic={}

In [30]:
type(dic)

dict

In [31]:
dic={1,2,3,4,4,5}

In [32]:
type(dic)

set

In [33]:
# let create a dictionary
my_dict={"Car1":"Audi","Car2":"BMW","Car3":"Mercidies Benz"}

In [34]:
type(my_dict)

dict

In [35]:
# Access the item values based on keys
my_dict['Car1']

'Audi'

In [37]:
# we can even loop through the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [38]:
# we can even loop through then dictionaries keys
for x in my_dict:
    print(x)

Car1
Car2
Car3

In [39]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [41]:
# adding items in dictionaries
my_dict['car4']='Audi 2.0'

In [42]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [43]:
my_dict['Car1']='Maruti'

In [44]:
my_dict

{'Car1': 'Maruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [45]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [46]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [47]:
# Accessing the items in the dictionary
print(car_type['car1'])

{'Mercedes': 1960}

In [49]:
print(car_type['car2']['Audi'])

1970

### Tuple

In [50]:
# Create an Empty Tuples # You can not change elements in tuple
my_tuple=tuple()

In [51]:
type(my_tuple)

tuple

In [52]:
my_tuple=()

In [53]:
type(my_tuple)

tuple

In [54]:
my_tuple=("Tushar","Krish","John")

In [55]:
my_tuple[0]

'Tushar'

In [56]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Tushar', 'Krish', 'John')

In [57]:
type(my_tuple)

tuple

In [58]:
my_tuple[0]="Khutale"  # You can able to change complete whole list but not single element

TypeError: 'tuple' object does not support item assignment

In [59]:
my_tuple

('Tushar', 'Krish', 'John')

In [60]:
my_tuple=("Hello","World")

In [61]:
my_tuple

('Hello', 'World')

In [62]:
#inbult Function
my_tuple.count('World')

1

In [63]:
my_tuple.index('Hello')

0